*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: url("https://ak8.picdn.net/shutterstock/videos/9688088/thumb/1.jpg");
    background-attachment: fixed;
    font-family: 'Overlock', cursive;
}
header
{
    background-color: #524A59;
}
header ul
{
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    list-style-type: none;
}
header .left-nav
{
    float: left;
}
header .right-nav
{
    float: right;
}
header .left-nav a, .right-nav a
{
    color: white;
    text-decoration: none;
}
header .left-nav a
{
    font-size: 25px;
    font-weight: bold;
}
header .right-nav a
{
    padding: 14px 16px;
    line-height: 5vh;
}
header .left-nav a:hover
{
    color: #358790;
}
header .right-nav a.active
{
    background-color: #358790;
}
header .right-nav a:hover
{
    background-color: #358790;
    transition: 0.5s;
}
.img-div-one
{
    float: left;
    margin-right: 15px; 
}
.img-div-one img
{
    height: 250px;
}
.p-div-one
{
    margin-left: 20px;
}
.p-div-one h1
{
    color: #358790;
    text-align: center;
}
.p-div-one p
{
    font-size: 20px;
    color: white;
}
.p-div-one a
{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 340px;
    text-align: center;
    padding: 14px;
    background-color: #358790;
    border: none;
    outline: none;
    color: white;
    font-family: 'Overlock', cursive;
    font-size: 20px;
}
.p-div-two
{
    float: left;
    margin-right: 90px;
    width: 75%;
}
.img-div-two img
{
    height: 250px;
}
.img-div-two
{
    margin-left: 20px;
}
.p-div-two h1
{
    color: #358790;
    text-align: center;
}
.p-div-two p
{
    margin-left: 15px;
    font-size: 20px;
    color: white;
}
.p-div-two a
{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 400px;
    text-align: center;
    padding: 14px;
    background-color: #358790;
    border: none;
    outline: none;
    color: white;
    font-family: 'Overlock', cursive;
    font-size: 20px;
}
.p-div-one .content-class
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.p-div-one .content-class .content-link
{
    float: left;
}
.p-div-one .content-link a
{
    margin-left: 210px;
    padding: 16px;
}
#img4
{
    height: 200px;
}
footer
{
    background-color: #524A59;
}
footer ul
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
footer ul li
{
    float: left;
}
footer ul li a
{
    text-decoration: none;
    padding: 90px 92px;
    color: white;
    font-size: 25px;
}
footer ul li a:hover
{
    background-color: #358790;
    transition: 0.5s;
}
footer p
{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
.openbtn
{
    background-color: #358790;
    border: none;
    outline: none;
    font-family: 'Overlock', cursive;
    padding: 16px 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 35px;
    width: 280px;
}
.openbtn:hover
{
    background-color: #86D7C2;
}
.chatbox
{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #408080;
    z-index: 9;
}
.chatform
{
    max-width: 300px;
    padding: 10px;
    background-color: #358790; 
}
.chatform textarea
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    resize: none;
    min-height: 200px;
    font-family: 'Overlock', cursive;
}
.chatform textarea:focus
{
    background-color: lightgreen;
    outline: none; 
}
.chatform .sendbtn, .cancelbtn
{
    background-color: blue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}
.chatform .cancelbtn
{
    background-color: violet;
}
.chatform .sendbtn:hover, .openbtn:hover
{
    opacity: 1;
}
